<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DDViewController</key>
	<dict>
		<key>navigationController</key>
		<dict>
			<key>navigationBar</key>
			<dict>
				<key>tintColor</key>
				<dict>
					<key>UIColor</key>
					<string>(220,0,78,255)</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DDMeViewController</key>
	<dict>
		<key>view</key>
		<dict>
			<key>viewWithTag:1</key>
			<dict>
				<key>layer</key>
				<dict>
					<key>cornerRadius</key>
					<dict>
						<key>CGFloat</key>
						<integer>40</integer>
					</dict>
					<key>masksToBounds</key>
					<dict>
						<key>BOOL</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>viewWithTag:2</key>
			<dict>
				<key>bubbleEdgeInsets</key>
				<dict>
					<key>UIEdgeInsets</key>
					<string>(10,10,10,10)</string>
				</dict>
				<key>gap</key>
				<dict>
					<key>CGFloat</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
