<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DDViewController</key>
	<dict>
		<key>navigationController</key>
		<dict>
			<key>navigationBar</key>
			<dict>
				<key>tintColor</key>
				<dict>
					<key>UIColor</key>
					<string>(255,0,0,255)</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DDMeViewController</key>
	<dict>
		<key>view</key>
		<dict>
			<key>viewWithTag:1</key>
			<dict>
				<key>layer</key>
				<dict>
					<key>cornerRadius</key>
					<dict>
						<key>CGFloat</key>
						<integer>40</integer>
					</dict>
					<key>masksToBounds</key>
					<dict>
						<key>BOOL</key>
						<true/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
